sup a {
	text-decoration: none;
}
sup a:hover {
	text-decoration: underline;
}
[role="button"] {
	cursor: pointer;
}
.signal-transform-properties {
	border-collapse: collapse;
	margin: auto;
}
.signal-transform-properties caption {
	position: relative;
	border-radius: .5em;
	border: 1px solid #888;
}
.signal-transform-properties .signal-transform-dropdown {
	display: block;
}
.signal-transform-properties .signal-transform-dropdown:after {
	display: block;
	position: absolute;
	width: 2em;
	height: 100%;
	vertical-align: bottom;
	top: 0;
	right: 0;
	content: "▼";
	color: rgba(106,122,212,0.3);
}
.signal-transform-properties .signal-transform-dropdown:hover:after {
	color: rgba(106,122,212,1);
}
.signal-transform-properties .signal-transform-select {
	position: absolute;
	z-index: 1;
	border-radius: .5em;
	border: 1px solid #444;
	background: #FFF;
	color: #000;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.signal-transform-properties .signal-transform-select li {
	border-radius: .5em;
}
.signal-transform-properties .signal-transform-select li:hover {
	background: #EEC;
}
.signal-transform-properties tbody {
	border-top: solid 1px #888;
}
.signal-transform-properties col {
	width: 14%;
}
.signal-transform-properties colgroup.freq col:first-child {
	width: 30%;
}
.signal-transform-properties td {
	padding: 1em;
}
.signal-transform-properties tr td.time + td.freq,
.signal-transform-properties tr th.time + th.freq {
	padding-left: 16%;
}
.signal-transform-properties tbody tr:first-child + tr td {
	padding-top: 0;
}
.signal-transform-properties tbody tr:first-child th {
	text-align: left;
	visibility: hidden;
}
.signal-transform-properties tbody tr:last-child td {
	padding-bottom: 1.5em;
}
.signal-transform-properties .MathJax_Display {
	margin: 0;
}
.signal-transform-properties .formula:hover,
.signal-transform-properties .formula.active {
	background: #EDB;
}
.signal-transform-properties .line {
	position: absolute;
	background: #EDB;
	color: #EDB;
	z-index: -1;
	height: 4px;
	vertical-align: middle;
}
.signal-transform-properties .line .arrowhead {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	background: #EDB;
	height: 4px;
	width: 20px;
	transform-origin: right;
}
.signal-transform-properties .line .arrowhead.top {
	transform: rotate(45deg);
}
.signal-transform-properties .line .arrowhead.bottom {
	transform: rotate(-45deg);
}
