<!DOCTYPE HTML>
<html>
<head>
<meta charset='utf-8' />
<title>Fourier/Laplace transform properties table - function templates demo</title>
<link rel='stylesheet' href='../lib/signals-transforms-table.css' />
<script src='https://code.jquery.com/jquery-1.11.3.min.js'></script>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script src='../lib/signals-transforms-table.js'></script>
<style>
nav {
	padding: .5em;
	margin: .5em 0;
	background: #CCC;
	color: #222;
}
form {
	margin: 1em 0;
}
label {
	display: block;
}
@media print {
	nav, form {
		display: none;
	}
}
</style>
</head>
<body>
<nav>Fourier/Laplace transform properties table demos || <a href='../v1/'>no customization</a> | <strong>function templates</strong> | <a href='https://github.com/AntonKhorev/signals-transforms'>source code</a></nav>
<form>
<p>Function syntax is one of:</p>
<ul>
<li><code>letter open letter close</code></li>
<li><code>letter open 'j*' letter close</code></li>
<li><code>letter open 'e^(j*' letter ')' close</code></li>
<li><code>letter '_' open? letter close?</code></li>
</ul>
<p>with:</p>
<dl>
<dt><code>letter</code></dt><dd>Latin letter ('a', 'b',..., 'A', 'B',...) or Greek letter ('alpha', 'beta',..., 'Alpha', 'Beta',...)</dd>
<dt><code>open</code></dt><dd>one of: '(', '[', '{', '&lt;'</dd>
<dt><code>close</code></dt><dd>one of: ')', ']', '}', '&gt;'</dd>
</dl>
<label>transform: <select id='customize-table-transform'></select></label>
<label>time function 1:<input type='text' id='customize-table-x' /></label>
<label>time function 2:<input type='text' id='customize-table-y' /></label>
<label>frequency function 1:<input type='text' id='customize-table-X' /></label>
<label>frequency function 2:<input type='text' id='customize-table-Y' /></label>
<button type='button' id='customize-table-generate'>Generate table</button>
</form>
<div id='put-table-here'>
Some text that will be replaced by the table.
</div>
<script>
$.each($.fn.signalsTransformsTable.allTransforms,function(i,transformId){
	$('#customize-table-transform').append("<option>"+transformId+"</option>");
});
$('#customize-table-transform').change(function(){
	var transformId=$('#customize-table-transform').val();
	var transform=$.fn.signalsTransformsTable.transforms[transformId];
	$('#customize-table-x').val(transform.timeFnTemplate[0]);
	$('#customize-table-y').val(transform.timeFnTemplate[1]);
	$('#customize-table-X').val(transform.freqFnTemplate[0]);
	$('#customize-table-Y').val(transform.freqFnTemplate[1]);
}).change();
$('#customize-table-generate').click(function(){
	var transformId=$('#customize-table-transform').val();
	var options={};
	options.includedTransforms=[transformId];
	options.transforms={};
	options.transforms[transformId]={
		timeFnTemplate:[$('#customize-table-x').val(),$('#customize-table-y').val()],
		freqFnTemplate:[$('#customize-table-X').val(),$('#customize-table-Y').val()]
	};
	$('#put-table-here').signalsTransformsTable(options);
});
</script>
</body>
</html>
