@n-timefreq-cols: 6;
@timefreq-col-width: 15%;
@note-font-size: .8em;
@cell-spacing: 2em; // need to fiddle with MathJax styles if it's lower than 2em
@formula-highlight-background: #EDB;
@link-highlight-background: #CF8;

sup a {
	text-decoration: none;
}
sup a:hover {
	text-decoration: underline;
}
[role="button"] {
	cursor: pointer;
}
.signal-transform-properties {
	border-collapse: collapse;
	margin: auto;
	caption {
		position: relative;
		border-radius: .5em;
		border: 1px solid #888;
	}
	.signal-transform-dropdown {
		display: block;
		&::after {
			display: block;
			position: absolute;
			width: 2em;
			height: 100%;
			vertical-align: bottom;
			top: 0;
			right: 0;
			content: "▼";
			color: rgba(106,122,212,0.3);
		}
		&:hover::after {
			color: rgba(106,122,212,1);
		}
	}
	.signal-transform-select {
		position: absolute;
		z-index: 1;
		border-radius: .5em;
		border: 1px solid #444;
		background: #FFF;
		color: #000;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			border-radius: .5em;
		}
		li:hover {
			background: #EEC;
		}
	}
	tbody {
		border-top: solid 1px #888;
	}
	col {
		width: @timefreq-col-width;
	}
	colgroup.both col {
		width: 100% - @timefreq-col-width * @n-timefreq-cols;
	}
	td {
		padding: @cell-spacing/2;
	}
	tbody tr:first-child + tr td {
		padding-top: 0;
	}
	tbody tr:first-child th {
		text-align: left;
		visibility: hidden;
	}
	tbody tr:last-child td {
		padding-bottom: 1.5em;
	}
	.cell {
		position: relative;
	}
	.note {
		display: none;
		position: absolute;
		font-size: @note-font-size;
		font-family: sans-serif;
		color: #444;
	}
	.formula {
		margin: -@cell-spacing/2; // vertically negates MathJax-imposed margins
		position: relative;
		.item {
			padding: 1px .5em; // extra horizontal padding required for links not to overlap with formulas
		}
		.note {
				top: 100%;
				margin-top: -@cell-spacing/2/@note-font-size;
			&.at-t {
				top: auto;
				bottom: 100%;
				margin-bottom: -@cell-spacing/2/@note-font-size;
			}
			left: 0;
			text-align: center;
			min-width: 100%;
			background: @formula-highlight-background;
		}
		&:hover, &.active {
			background: @formula-highlight-background;
			.note {
				display: block;
			}
		}
	}
	.link {
		position: absolute;
		z-index: 1;
		width: @cell-spacing;
		height: @cell-spacing;
		line-height: @cell-spacing;
		text-align: center;
		&.at-t, &.at-b {
			left: 50%;
			margin-left: -@cell-spacing/2;
		}
		&.at-t {
			top: -@cell-spacing/2;
		}
		&.at-b {
			bottom: -@cell-spacing/2;
		}
		&.at-l, &.at-r {
			top: 50%;
			margin-top: -@cell-spacing/2;
			&::before {
				transform: rotate(-90deg);
			}
		}
		&.at-l {
			left: -@cell-spacing;
		}
		&.at-r {
			right: -@cell-spacing;
		}
		&.at-tl, &.at-br {
			&::before {
				transform: rotate(-45deg);
			}
		}
		&.at-tl {
			top: -@cell-spacing/2;
			left: -@cell-spacing;
		}
		&.at-br {
			bottom: -@cell-spacing/2;
			right: -@cell-spacing;
		}
		&::before {
			display: block;
			content: "⋮";
			color: #888;
		}
		.note {
			//&.at-b {
				top: 100%;
				left: 50%;
				transform: translate(-50%,0);
				text-align: center;
				min-width: 100%;
			//}
			&.at-t {
				top: auto;
				bottom: 100%;
			}
			&.at-l, &.at-r {
				top: 0;
				transform: none;
				min-width: 0;
				min-height: 100%;
				&.one-line {
					line-height: @cell-spacing/@note-font-size;
					white-space: nowrap;
				}
			}
			&.at-l {
				left: auto;
				right: 100%;
				padding-left: .5em;
				text-align: right;
			}
			&.at-r {
				left: 100%;
				padding-right: .5em;
				text-align: left;
			}
			background: @link-highlight-background;
			//justify-content: center;
			//align-items: center;
			line-height: normal;
		}
		&.at-t, &.at-b {
			.note.at-l {
				margin-right: -20%;
			}
			.note.at-r {
				margin-left: -20%;
			}
		}
		&.at-l, &.at-r {
			.note.at-t {
				margin-bottom: -25%;
			}
			.note.at-b {
				margin-top: -25%;
			}
		}
		&:hover, &.active {
			background: @link-highlight-background;
			.note {
				//display: flex;
				display: block;
			}
			&::before {
				content: "║";
				color: #000;
			}
		}
	}
	.line {
		position: absolute;
		background: @formula-highlight-background;
		color: @formula-highlight-background;
		z-index: -1;
		height: 4px;
		vertical-align: middle;
		.arrowhead {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			background: @formula-highlight-background;
			height: 4px;
			width: 20px;
			transform-origin: right;
			&.top {
				transform: rotate(45deg);
			}
			&.bottom {
				transform: rotate(-45deg);
			}
		}
	}
}
